.title {
    background-color:#25435B;
    padding:10px;
}

.titleText {
    color: white;
    font-family: helvetica;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 0px;
}

.myButton {
    padding: 0px 5px 0px 5px;
    margin-left: 10px;
}
#digitDisplay {
    text-align: right;
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(112, 204, 87);
    background-color: black;
    font-size: 100px;
    padding: 0px 10px;
    border-radius: 10px;
    text-shadow:
        0 0 10px rgb(112, 204, 87),
        0 0 50px rgb(112, 204, 87);
}